<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dailymanagement.demo.dao.BrainstormMapper" >
  <resultMap id="BaseResultMap" type="dailymanagement.demo.bean.Brainstorm" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from brainstorm
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from brainstorm
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dailymanagement.demo.bean.Brainstorm" >
    insert into brainstorm (tid, title)
    values (#{tid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dailymanagement.demo.bean.Brainstorm" >
    insert into brainstorm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dailymanagement.demo.bean.Brainstorm" >
    update brainstorm
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dailymanagement.demo.bean.Brainstorm" >
    update brainstorm
    set title = #{title,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>