<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dailymanagement.demo.mapper.DocumentFileMapper">
  <resultMap id="BaseResultMap" type="dailymanagement.demo.bean.DocumentFile">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="fpath" jdbcType="VARCHAR" property="fpath" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, fname, time, fpath
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document_file
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from document_file
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dailymanagement.demo.bean.DocumentFile">
    insert into document_file (fid, fname, time, 
      fpath)
    values (#{fid,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{fpath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dailymanagement.demo.bean.DocumentFile">
    insert into document_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="fpath != null">
        fpath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="fpath != null">
        #{fpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dailymanagement.demo.bean.DocumentFile">
    update document_file
    <set>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="fpath != null">
        fpath = #{fpath,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dailymanagement.demo.bean.DocumentFile">
    update document_file
    set fname = #{fname,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      fpath = #{fpath,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="dailymanagement.demo.bean.DocumentFile">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="fpath" jdbcType="VARCHAR" property="fpath" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, fname, time, fpath
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document_file
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from document_file
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dailymanagement.demo.bean.DocumentFile">
    insert into document_file (fid, fname, time, 
      fpath)
    values (#{fid,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{fpath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dailymanagement.demo.bean.DocumentFile">
    insert into document_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="fpath != null">
        fpath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="fpath != null">
        #{fpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dailymanagement.demo.bean.DocumentFile">
    update document_file
    <set>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="fpath != null">
        fpath = #{fpath,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dailymanagement.demo.bean.DocumentFile">
    update document_file
    set fname = #{fname,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      fpath = #{fpath,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>