<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dailymanagement.demo.mapper.PlanAndSummaryMapper">
  <resultMap id="BaseResultMap" type="dailymanagement.demo.bean.PlanAndSummary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="unam" jdbcType="VARCHAR" property="unam" />
    <result column="write_time" jdbcType="TIMESTAMP" property="writeTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="plan" jdbcType="VARCHAR" property="plan" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unam, write_time, update_time, summary, plan
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan_and_summary
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from plan_and_summary
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    insert into plan_and_summary (id, unam, write_time, 
      update_time, summary, plan
      )
    values (#{id,jdbcType=INTEGER}, #{unam,jdbcType=VARCHAR}, #{writeTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    insert into plan_and_summary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unam != null">
        unam,
      </if>
      <if test="writeTime != null">
        write_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="plan != null">
        plan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unam != null">
        #{unam,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null">
        #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        #{plan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    update plan_and_summary
    <set>
      <if test="writeTime != null">
        write_time = #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        plan = #{plan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    update plan_and_summary
    set write_time = #{writeTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=VARCHAR},
      plan = #{plan,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="dailymanagement.demo.bean.PlanAndSummary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="unam" jdbcType="VARCHAR" property="unam" />
    <result column="write_time" jdbcType="TIMESTAMP" property="writeTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="plan" jdbcType="VARCHAR" property="plan" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unam, write_time, update_time, summary, plan
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan_and_summary
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from plan_and_summary
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    insert into plan_and_summary (id, unam, write_time, 
      update_time, summary, plan
      )
    values (#{id,jdbcType=INTEGER}, #{unam,jdbcType=VARCHAR}, #{writeTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    insert into plan_and_summary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unam != null">
        unam,
      </if>
      <if test="writeTime != null">
        write_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="plan != null">
        plan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unam != null">
        #{unam,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null">
        #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        #{plan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    update plan_and_summary
    <set>
      <if test="writeTime != null">
        write_time = #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        plan = #{plan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="dailymanagement.demo.bean.PlanAndSummary">
    update plan_and_summary
    set write_time = #{writeTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=VARCHAR},
      plan = #{plan,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and unam = #{unam,jdbcType=VARCHAR}
  </update>
</mapper>